<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img alt="rien" src="{{ ticket.image.url }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      
        <h5 class="card-title">{{ ticket.title }}</h5>
        <p class="card-text">
          {{ ticket.description }}
        </p>
        {% if not ticket.reviewed and not response %}
        <div class="ticket_response">
            <a href="{% url 'ticket_response' ticket.id %}" class="button"><button class="btn btn-primary">Créer une critique</button></a>
        </div>
            {% endif %}
      </div>
    </div>
  </div>
</div>
