{% extends 'index.html' %}
{% block content %}
<div class="connexion_page">
<div class="card text-center" style="width: 50%; height:100%;text-align:center;">
  <div class="card-header" style="text-align:center;">Poster une critique</div>
  <div class="card-body" >
      <form method="post" enctype="multipart/form-data">
    <div style="text-align:center;">{{ ticket_form.as_p }}
        {{ review_form.as_p }}</div>
    {% csrf_token %}
          <div style="text-align:right;"><button type="submit" class="btn btn-primary">Publier</button></div>
      </form>
  </div>
</div>
</div>
{% endblock %}