{% extends 'index.html' %}
{% block content %}

    <div class="connexion_page">
<div class="card text-center" style="width: 50%; height:100%;text-align:center;">
  <div class="card-header" style="text-align:center;">Changement de mot de passe</div>
  <div class="card-body" >
     <form method="post">
         <div style="text-align:center;">{{ form.as_p }}</div>
        {% csrf_token %}
         <div style="text-align:right;">
         <button type="submit" class="btn btn-primary">Changer</button>
         <a href="{% url 'account' %}" class="btn btn-danger">Annuler</a></div>
    </form>
</div>
</div>
  </div>
</div>
</div>
{% endblock content %}